defaults:
  - default
  - opv2v: default

num_views: 10

# Cooperative settings
coop_include_agents: null  # use all available vehicles
coop_min_agents: 1
coop_main_agent: '641'
coop_main_agent_policy: first
coop_min_num_views: 4
coop_max_num_views: null

train:
  variable_num_views: false
val:
  variable_num_views: false
test:
  variable_num_views: false

resolution_train: ${dataset.resolution_options.448_1_77_ar}
resolution_val: ${dataset.resolution_options.448_1_77_ar}

train_dataset:
  "+ 20_000 @ OPV2VCoopDataset(
    split='${dataset.opv2v.train.split}',
    ROOT='${dataset.opv2v.images_root}',
    depth_root='${dataset.opv2v.depth_root}',
    camera_ids=${dataset.opv2v.camera_ids},
    include_agents=${dataset.coop_include_agents},
    main_agent='${dataset.coop_main_agent}',
    main_agent_policy='${dataset.coop_main_agent_policy}',
    min_agents=${dataset.coop_min_agents},
    min_num_views=${dataset.coop_min_num_views},
    max_num_views=${dataset.coop_max_num_views},
    num_views=${dataset.num_views},
    variable_num_views=${dataset.train.variable_num_views},
    resolution=${dataset.opv2v.train.dataset_resolution},
    principal_point_centered=${dataset.principal_point_centered},
    transform='${dataset.opv2v.train.transform}',
    data_norm_type='${model.data_norm_type}',
    aug_crop=${dataset.opv2v.train.aug_crop},
    seed=${dataset.opv2v.train.seed},
    max_num_retries=${dataset.opv2v.train.max_num_retries})"

test_dataset:
  "+ 200 @ OPV2VCoopDataset(
    split='${dataset.opv2v.train.split}',
    ROOT='${dataset.opv2v.images_root}',
    depth_root='${dataset.opv2v.depth_root}',
    camera_ids=${dataset.opv2v.camera_ids},
    include_agents=${dataset.coop_include_agents},
    main_agent='${dataset.coop_main_agent}',
    main_agent_policy='${dataset.coop_main_agent_policy}',
    min_agents=${dataset.coop_min_agents},
    min_num_views=${dataset.coop_min_num_views},
    max_num_views=${dataset.coop_max_num_views},
    num_views=${dataset.num_views},
    variable_num_views=${dataset.val.variable_num_views},
    resolution=${dataset.opv2v.val.dataset_resolution},
    principal_point_centered=${dataset.principal_point_centered},
    transform='${dataset.opv2v.val.transform}',
    data_norm_type='${dataset.opv2v.val.data_norm_type}',
    aug_crop=${dataset.opv2v.val.aug_crop},
    seed=${dataset.opv2v.val.seed},
    max_num_retries=${dataset.opv2v.val.max_num_retries})"
